@CHARSET "UTF-8";

.Table {
	border-collapse: collapse;
	border: 1px solid #000000;
	font-size: 140%;
}

.TableHeader {
	text-align: center;
	background: none repeat scroll 0 0 #B5B5B5;
	border-bottom: 1px solid #000000;
	padding: 2px;
}

.TableOddRow {
	text-align: center;
	background: none repeat scroll 0 0 #FFFFFFF;
	background-color: white;
	
}

.TableEvenRow {
	text-align: center;
	background: none repeat scroll 0 0 #D3D3D3;
	
}

td {
	padding: 5px;
}

.Body {
	text-align: justify;
	color: #000000;
	background-color: #44b1ff;
	background-image: url("../images/header.jpg");
}

.OutText {
	font-size: 130%
}

.InText {
	font-size: 100%
}

.Button {
	font-size: 130%
	
}

h1, h2, h3{
	text-align: center;
	font-size: 200%;
}